@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* base */
* {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* layout */
#topview {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #e52d8a;
  min-width: 1080px;
}
#topview img {
  width: 100%;
}
#topview .topview_title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(50% - (2vw));
  color: white;
  font-size: 1.2vw;
  line-height: 1.4vw;
}

.main {
  height: 300vh;
  background-color: LightSlateGrey;
  background: linear-gradient(#e52d8a, #fee500);
  min-width: 1080px;
}
.main:after {
  content: "";
  clear: both;
  display: block;
}
.main .content {
  width: 1080px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main h1 {
  font-size: 2.5em;
  margin: 100px;
  padding-bottom: 20px;
  letter-spacing: 0.1em;
  border-bottom: 2px solid white;
}

#overview {
  color: white;
  padding: 50px 0;
  text-align: center;
}
#overview p {
  line-height: 1.8em;
}

#exhibition {
  color: white;
}
#exhibition h1 {
  text-align: center;
}

nav {
  background: linear-gradient(90deg, #e52d8a, #fee500);
  position: fixed;
  bottom: 0;
  width: 70%;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  left: 0;
  right: 0;
  padding-left: 15%;
  padding-right: 15%;
}
nav:after {
  content: "";
  clear: both;
  display: block;
}
nav .menu {
  position: relative;
  width: 25%;
  float: left;
}

/* module */
/* state */
