#topview
  position: relative
  width: 100%
  text-align: center
  background-color: #e52d8a
  min-width: 1120px//1080+20*2
  img
    width: 100%
  p
    position: absolute
    color: white
    font-size: 1em
    left: 10%
    bottom: 50px

.main
  min-height: 300vh
  background-color: LightSlateGrey
  background: linear-gradient(#e52d8a, #fee500)
  min-width: 1080px
  padding: 0 20px
  +clearfix
  .content
    width: 1080px
    left: 0
    right: 0
    margin: 0 auto
    h1
      color: white
      font-size: 2.5em
      text-align: center
      margin: 100px 0 75px 0
      padding-bottom: 20px
      letter-spacing: 0.1em
      border-bottom: 2px solid white
    &:first-child
      h1
        margin-bottom: 100px

#overview
  color: white
  padding: 50px 0
  text-align: center
  p
    line-height: 1.8em
    &:last-child
      margin-top: 1.8em

#exhibition
  color: white
  .exhs
    +clearfix
    .exh
      float: left
      width: 40%
      &:nth-child(even)
        margin-left: 20%
      h2
        font-size: 1.3em
        line-height: 1.6em
        padding-left: 5px
        border-left: 15px solid white
        border-bottom: 1px solid white
      div
        margin-top: 20px
      .map
        width: 100%
        height: calc(1080px * 0.4 * 9 / 16)//aspect16:9(40/16*9)
        background: white
        color: black
      .text
        +clearfix
        .place
          float: left
        .date
          float: right

#works
  +clearfix
  .work
    width: 330px
    margin-right: 45px
    margin-bottom: 45px
    float: left
    background: rgba(230,230,230,.8)
    &:nth-child(3n+1)
      margin-right: 0

#thanks
  .list
    width: 100%
    height: 50vh
    background: rgba(0,0,0,.5)
    color: white

#copyright
  color: white
  text-align: center
  padding: 30px 0
  width: 100%

nav
  background: linear-gradient(90deg,#e52d8a, #fee500)
  position: fixed
  bottom: 0
  width: 70%
  height: 1.5em
  line-height: 1.5em
  text-align: center
  left: 0
  right: 0
  padding:
    left: 15%
    right: 15%
  +clearfix
  .menu
    position: relative
    width: 25%
    float: left
